%h1 Payment Sources
%span= link_to 'Add New Payment Source', 'javascript:void(0)', class: 'button primary float-right', data: {open: 'ajax-reveal', url: new_payment_source_path}

%table.striped.hover.table-striped.stack
  %thead
    %tr
      %th Id
      %th Amount
      %th Payment mode
      %th Transaction
      %th Account
      %th Created at
      %th Updated at
      %th Actions

  %tbody
    - @payment_sources.each do |payment_source|
      %tr
        %td= payment_source.id
        %td= payment_source.amount
        %td= payment_source.payment_mode
        %td= payment_source.transaction.name
        %td= payment_source.account.name
        %td= payment_source.created_at
        %td= payment_source.updated_at
        %td
          .button-group
            = link_to 'Show', 'javascript:void(0)', class: 'button success', data: {open: 'ajax-reveal', url: payment_source_path(payment_source)}
            = link_to 'Edit', 'javascript:void(0)', class: 'button warning', data: {open: 'ajax-reveal', url: edit_payment_source_path(payment_source)}
            = link_to 'Delete', payment_source, method: :delete, data: { confirm: 'Are you sure you want to delete this Payment Source?' }, class: 'button alert'
