.row
  %strong Id:
  = @payment_source.id

.row
  %strong Amount:
  = @payment_source.amount

.row
  %strong Payment mode:
  = @payment_source.payment_mode

.row
  %strong Transaction:
  = @payment_source.transaction_id

.row
  %strong Account:
  = @payment_source.account_id

.row
  %strong Created at:
  = @payment_source.created_at

.row
  %strong Updated at:
  = @payment_source.updated_at

.row
  = link_to 'Edit', 'javascript:void(0)', class: 'button primary', data: {open: 'ajax-reveal', url: edit_payment_source_path(@payment_source)}
  = link_to 'Back', payment_sources_path, class: 'button warning'
