= form_with url: summary_path, method: :get, local: true do |f|
  .button-group.expanded
    .input-group
      = link_to 'Daily Summary', summary_path(date: Date.today), title: Date.today, class: 'input-group-button button secondary'
      = link_to 'Monthly Summary', summary_path(month: Date.today), title: Date.today, class: 'input-group-button button primary'
      = link_to 'Annual Summary', summary_path(year: Date.today.year), title: Date.today.year, class: 'input-group-button button secondary'
- if @year
  = form_with url: summary_path, method: :get, local: true do |f|
    .button-group.expanded
      .input-group
        = link_to 'Last Year', summary_path(year: Date.today.year - 1.year), title: Date.today.year - 1.year, class: 'input-group-button button secondary'
        = link_to 'Current Year', summary_path(year: Date.today.year), title: Date.today.year, class: 'input-group-button button primary'
        = link_to 'Next Year', summary_path(year: Date.today.year + 1.year), title: Date.today.year + 1.year, class: 'input-group-button button secondary'
    .button-group
      .input-group
        = link_to '<< Prev', summary_path(year: @year.prev_year), title: @year.prev_year, class: 'input-group-button button secondary'
        = date_field_tag :year, @year, class: 'input-group-field'
        = submit_tag 'Go', class: 'input-group-button button success'
        = link_to 'Next >>', summary_path(year: @year.next_year), title: @year.next_year, class: 'input-group-button button secondary'

- if @month
  = form_with url: summary_path, method: :get, local: true do |f|
    .button-group.expanded
      .input-group
        = link_to 'Last Month', summary_path(month: Date.today.prev_month), title: Date.today.prev_month, class: 'input-group-button button secondary'
        = link_to 'Today', summary_path(month: Date.today), title: Date.today, class: 'input-group-button button primary'
        = link_to 'Next Month', summary_path(month: Date.today.next_month), title: Date.today.next_month, class: 'input-group-button button secondary'
    .button-group
      .input-group
        = link_to '<< Prev', summary_path(month: @month.prev_month), title: @month.prev_month, class: 'input-group-button button secondary'
        = date_field_tag :month, @month, class: 'input-group-field'
        = submit_tag 'Go', class: 'input-group-button button success'
        = link_to 'Next >>', summary_path(month: @month.next_month), title: @month.next_month, class: 'input-group-button button secondary'

- unless (@month || @year)
  = form_with url: summary_path, method: :get, local: true do |f|
    .button-group.expanded
      .input-group
        = link_to 'Yesterday', summary_path(date: Date.yesterday), title: Date.yesterday, class: 'input-group-button button secondary'
        = link_to 'Today', summary_path(date: Date.today), title: Date.today, class: 'input-group-button button primary'
        = link_to 'Tomorrow', summary_path(date: Date.tomorrow), title: Date.tomorrow, class: 'input-group-button button secondary'
    .button-group
      .input-group
        = link_to '<< Prev', summary_path(date: @date.prev_day), title: @date.prev_day, class: 'input-group-button button secondary'
        = date_field_tag :date, @date, class: 'input-group-field'
        = submit_tag 'Go', class: 'input-group-button button success'
        = link_to 'Next >>', summary_path(date: @date.next_day), title: @date.next_day, class: 'input-group-button button secondary'

%h3
  = 'Summary for'
  = "#{@date}, #{@date.strftime("%A")}" unless (@month || @year)
  = "#{@month.strftime('%B')}-#{@month.strftime('%Y')}" if @month
  = @year.strftime('%Y') if @year
  - unless (@month || @year)
    = 'Estimated Expense:'
    = @estimated_expense
  = 'Actual Expense:'
  = @transactions.sum(:amount)

%table.striped.hover.table-striped.stack
  %thead
    %tr
      %th Purpose
      %th Description
      - if @month || @year
        %th Transacted at
      %th Amount

  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.transaction_purpose.name
        %td= transaction.description
        - if @month || @year
          %td= transaction.transacted_at
        %td{ class: transaction.credit? ? 'text-success' : 'text-alert' }
          = transaction.sign
          = transaction.amount


