%h1
  Group Users
  = link_to 'Add New Group User', 'javascript:void(0)', class: 'button primary float-right', data: {open: 'ajax-reveal', url: new_group_user_path}

.table-scroll
  %table.striped.hover.table-striped.stack
    %thead
      %tr
        %th Id
        %th User
        %th Group
        %th Actions

    %tbody
      - @group_users.each do |group_user|
        %tr
          %td= group_user.id
          %td= group_user.user.name
          %td= group_user.group.name
          %td= render 'shared/table_row_action_buttons', object: group_user