= form_with(model: transaction_purpose, remote: true) do |f|
  - if transaction_purpose.errors.any?
    #error_explanation
      %h2= "#{pluralize(transaction_purpose.errors.count, "error")} prohibited this transaction_purpose from being saved:"
      %ul
        - transaction_purpose.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :name
    = f.text_field :name, id: :transaction_purpose_name
  .row
    = f.label :sub_category_id
    = f.collection_select :sub_category_id, SubCategory.all, :id, :name_with_category, id: :transaction_purpose_sub_category_id
  - if transaction_purpose.persisted?
    .row
      = f.label :created_at
      = f.datetime_select :created_at, id: :transaction_purpose_created_at
    .row
      = f.label :updated_at
      = f.datetime_select :updated_at, id: :transaction_purpose_updated_at
  .row
    = f.submit transaction_purpose.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', transaction_purposes_path, class: 'button warning'
