.row
  %strong Id:
  = @transaction_purpose.id
.row
  %strong Name:
  = @transaction_purpose.name
.row
  %strong Sub category:
  = @transaction_purpose.sub_category.name_with_category
.row
  %strong Estimate:
  = @transaction_purpose.estimate
.row
  %strong Created at:
  = @transaction_purpose.created_at
.row
  %strong Updated at:
  = @transaction_purpose.updated_at
.row
  = link_to_edit(@transaction_purpose)
  = close_reveal_button
