%h1
  Groups
  = link_to 'Add New Group', 'javascript:void(0)', class: 'button primary float-right', data: {open: 'ajax-reveal', url: new_group_path}

.table-scroll
  %table.striped.hover.table-striped.stack
    %thead
      %tr
        %th Id
        %th Owner
        %th Name
        %th Default
        %th Created at
        %th Updated at
        %th Actions

    %tbody
      - @groups.each do |group|
        %tr
          %td= group.id
          %td= group.owner.name
          %td= group.name
          %td= group.default
          %td= group.created_at
          %td= group.updated_at
          %td= render 'shared/table_row_action_buttons', object: group