%h1
  My Groups
  = add_new_button('Add New Group', new_group_path)

.table-scroll
  %table.striped.hover.table-striped.stack
    %thead
      %tr
        %th Name
        %th Owner
        %th Actions

    %tbody
      - @groups.each do |group|
        %tr
          %td= group.name
          %td= group.owner.name
          %td
            .button-group
              = link_to_edit_icon(group)
              = link_to_reveal "#{group.group_users.count} Members", group_path(group), 'button success'
              - if !group.default? && current_user.group_owner_for?(group)
                = link_to_delete_icon(group)
#pagy= pagy_foundation_combo_nav_js(@pagy).html_safe