%h1
  Users
  = link_to 'Add New User', 'javascript:void(0)', class: 'button primary float-right', data: {open: 'ajax-reveal', url: new_user_path}

.table-scroll
  %table.striped.hover.table-striped.stack
    %thead
      %tr
        %th Id
        %th Email
        %th Encrypted password
        %th Reset password token
        %th Reset password sent at
        %th Remember created at
        %th Sign in count
        %th Current sign in at
        %th Last sign in at
        %th Current sign in ip
        %th Last sign in ip
        %th Confirmation token
        %th Confirmed at
        %th Confirmation sent at
        %th Unconfirmed email
        %th Failed attempts
        %th Unlock token
        %th Locked at
        %th Created at
        %th Updated at
        %th Actions

    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.email
          %td= user.encrypted_password
          %td= user.reset_password_token
          %td= user.reset_password_sent_at
          %td= user.remember_created_at
          %td= user.sign_in_count
          %td= user.current_sign_in_at
          %td= user.last_sign_in_at
          %td= user.current_sign_in_ip
          %td= user.last_sign_in_ip
          %td= user.confirmation_token
          %td= user.confirmed_at
          %td= user.confirmation_sent_at
          %td= user.unconfirmed_email
          %td= user.failed_attempts
          %td= user.unlock_token
          %td= user.locked_at
          %td= user.created_at
          %td= user.updated_at
          %td= render 'shared/table_row_action_buttons', object: user