- unique_id = SecureRandom.uuid
= form_with(model: transaction, remote: true, class: unique_id) do |f|
  - if transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - transaction.errors.full_messages.each do |message|
          %li= message
  .grid-container
    .grid-x.grid-padding-x
      .small-3.cell
        = f.hidden_field :unique_id, value: unique_id, class: :unique_id
        - if transaction.transaction_purpose.present?
          %label= transaction.transaction_purpose.name
          = f.hidden_field :transaction_purpose_id, value: transaction.transaction_purpose_id
        - else
          = f.collection_select :transaction_purpose_id, TransactionPurpose.all, :id, :name, id: :transaction_purpose_id
      .small-2.cell
        %label
          = f.amount_field :amount, id: :transaction_amount, currency: '&#8377;'
      .small-4.cell
        %label
          = f.text_field :description, id: :transaction_description
      .small-2.cell
        %label
          = f.collection_select :transfer_id, Transfer.all, :id, :name, id: :transaction_transfer_id
      .small-1.cell
        %label
          = f.submit transaction.new_record? ? 'Create' : 'Update', class: 'button success'
      - clonable_fragment_class = transaction.new_record? ? "new_transaction_for_#{transaction.transaction_purpose_id}" : "transaction_#{transaction.id}"
  = f.fields :payments do |p|
    .grid-container.clonable-fragment{ class: clonable_fragment_class }
      .grid-x.grid-padding-x
        .small-3.cell
          = p.amount_field :amount, currency: '&#8377;'
        .small-3.cell
          = p.collection_select :payment_mode, Payment::PAYMENT_MODES, :first, :last
        .small-3.cell
          = p.collection_select :account_id, Account.all, :id, :name
        .small-1.cell
          = p.hidden_field :_destroy
          = link_to '&times'.html_safe, 'javascript:void(0)', class: 'delete-fragment button alert', data: { parent_object: clonable_fragment_class, entity: 'payment' }
        .small-2.cell
          - if f.object.payments.last == p.object
            = link_to 'Add another payment', 'javascript:void(0)', class: 'clone-fragment button primary'
