= form_with url: '/', method: :get, local: true do |f|
  .button-group.expanded
    .input-group
      = link_to 'Yesterday', root_path(date: Date.yesterday), title: Date.yesterday, class: 'input-group-button button secondary'
      = link_to 'Today', root_path(date: Date.today), title: Date.today, class: 'input-group-button button primary'
      = link_to 'Tomorrow', root_path(date: Date.tomorrow), title: Date.tomorrow, class: 'input-group-button button secondary'
  .button-group
    .input-group
      = link_to '<< Prev', root_path(date: @date.prev_day), title: @date.prev_day, class: 'input-group-button button secondary'
      = date_field_tag :date, @date, class: 'input-group-field'
      = submit_tag 'Go', class: 'input-group-button button success'
      = link_to 'Next >>', root_path(date: @date.next_day), title: @date.next_day, class: 'input-group-button button secondary'
%h3
  = "Suggested expenses for #{@date}, #{@date.strftime("%A")} | Count #{@transactions.count - 1}"

- @transactions.each do |transaction|
  = render "#{transaction.class.to_s.downcase}_form", transaction: transaction, transacted_at: @date
