.grid-container
  = "Selected Date #{@date} | #{@date.strftime("%A")}"
  = "Count #{@transactions.count}"
  .button-group
    .input-group
      = link_to 'Prev', 'javascript:void(0)', class: 'input-group-button button secondary'
      = link_to 'Today', 'javascript:void(0)', class: 'input-group-button button primary'
      = link_to 'Next', 'javascript:void(0)', class: 'input-group-button button secondary'
      = date_field_tag :date, @date, class: 'input-group-field'
      = link_to 'Pick a date', 'javascript:void(0)', class: 'input-group-button button success'
  .grid-x.grid-padding-x.callout.primary
    .small-3.cell
      %b Name
    .small-2.cell
      %b Amount
    .small-4.cell
      %b Description
    .small-2.cell
      %b Transfer
    .small-1.cell
      %b Action
- @transactions.each do |transaction|
  = # render 'transaction_form', transaction: transaction
  = render 'oc_transaction_form', transaction: transaction
  %hr
