= form_for @account_balance do |f|
  - if @account_balance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account_balance.errors.count, "error")} prohibited this account_balance from being saved:"
      %ul
        - @account_balance.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
