= form_with(model: object, remote: true) do |f|
  - if object.errors.any?
    #error_explanation
      %p= "#{pluralize(object.errors.count, "error")} prohibited this account_balance from being saved:"
      %ul
        - object.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :opening_balance
    = f.amount_field :opening_balance, currency: '&#8377;', id: :account_balance_opening_balance
  .row
    = f.label :calculated_closing_balance
    = f.amount_field :calculated_closing_balance, currency: '&#8377;', id: :account_balance_calculated_closing_balance
  .row
    = f.label :actual_closing_balance
    = f.amount_field :actual_closing_balance, currency: '&#8377;', id: :account_balance_actual_closing_balance
  .row
    = f.label :month_and_year
    .input-group
      = select_month object.month || Date.today, prefix: :account_balance, class: 'input-group-field small-2'
      = select_year object.year || Date.today, prefix: :account_balance, class: 'input-group-field small-2'
  .row
    = f.label :account_id
    = f.collection_select :account_id, Account.all, :id, :name, id: :account_balance_account_id
  = render 'shared/timestamps', f: f
  .row
    = f.submit object.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', account_balances_path, class: 'button warning'
