%h1
  Account Balances
  = add_new_button('Add New Account Balance', new_account_balance_path)

%table.striped.hover.table-striped.stack
  %thead
    %tr
      %th Id
      %th User
      %th Opening balance
      %th Calculated closing balance
      %th Actual closing balance
      %th Month
      %th Year
      %th Account
      %th Created at
      %th Updated at
      %th Actions

  %tbody
    - @account_balances.each do |account_balance|
      %tr
        %td= account_balance.id
        %td= account_balance.user.name
        %td= account_balance.opening_balance
        %td= account_balance.calculated_closing_balance
        %td= account_balance.actual_closing_balance
        %td= Date::MONTHNAMES[account_balance.month]
        %td= account_balance.year
        %td= account_balance.account.name
        %td= account_balance.created_at
        %td= account_balance.updated_at
        %td= render 'shared/table_row_action_buttons', object: account_balance
#pagy= pagy_foundation_combo_nav_js(@pagy).html_safe