%h1
  Account Balances
  = link_to 'Add New Account Balance', 'javascript:void(0)', class: 'button primary float-right', data: {open: 'ajax-reveal', url: new_account_balance_path}

%table.striped.hover.table-striped.stack
  %thead
    %tr
      %th Id
      %th User
      %th Opening balance
      %th Calculated closing balance
      %th Actual closing balance
      %th Month
      %th Year
      %th Account
      %th Created at
      %th Updated at
      %th Actions

  %tbody
    - @account_balances.each do |account_balance|
      %tr
        %td= account_balance.id
        %td= account_balance.user.name
        %td= account_balance.opening_balance
        %td= account_balance.calculated_closing_balance
        %td= account_balance.actual_closing_balance
        %td= Date::MONTHNAMES[account_balance.month]
        %td= account_balance.year
        %td= account_balance.account.name
        %td= account_balance.created_at
        %td= account_balance.updated_at
        %td
          .button-group
            = link_to 'Show', 'javascript:void(0)', class: 'button success', data: {open: 'ajax-reveal', url: account_balance_path(account_balance)}
            = link_to 'Edit', 'javascript:void(0)', class: 'button warning', data: {open: 'ajax-reveal', url: edit_account_balance_path(account_balance)}
            = link_to 'Delete', account_balance, method: :delete, data: { confirm: 'Are you sure you want to delete this Account Balance?' }, class: 'button alert'
