.row
  %strong Id:
  = @account_balance.id

.row
  %strong Opening balance:
  = @account_balance.opening_balance

.row
  %strong Calculated closing balance:
  = @account_balance.calculated_closing_balance

.row
  %strong Actual closing balance:
  = @account_balance.actual_closing_balance

.row
  %strong Month:
  = @account_balance.month

.row
  %strong Year:
  = @account_balance.year

.row
  %strong Account:
  = @account_balance.account_id

.row
  %strong Created at:
  = @account_balance.created_at

.row
  %strong Updated at:
  = @account_balance.updated_at

.row
  = link_to 'Edit', 'javascript:void(0)', class: 'button primary', data: {open: 'ajax-reveal', url: edit_account_balance_path(@account_balance)}
  = link_to 'Back', account_balances_path, class: 'button warning'
