%h1
  Recurrence Rules
  = add_new_button('Add New Recurrence Rule', new_recurrence_rule_path)

%table.striped.hover.table-striped.stack
  %thead
    %tr
      %th Id
      %th Type
      %th Interval
      %th Starts on
      %th Ends on
      %th Count
      %th Rules
      %th Transaction purpose
      %th Created at
      %th Updated at
      %th Actions

  %tbody
    - @recurrence_rules.each do |recurrence_rule|
      %tr
        %td= recurrence_rule.id
        %td= recurrence_rule.type
        %td= recurrence_rule.interval
        %td= recurrence_rule.starts_on
        %td= recurrence_rule.ends_on
        %td= recurrence_rule.count
        %td= recurrence_rule.rules
        %td= recurrence_rule.transaction_purpose.try(:name)
        %td= recurrence_rule.created_at
        %td= recurrence_rule.updated_at
        %td= render 'shared/table_row_action_buttons', object: recurrence_rule
#pagy= pagy_foundation_combo_nav_js(@pagy).html_safe