= form_with(model: sub_category, remote: true) do |f|
  - if sub_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(sub_category.errors.count, "error")} prohibited this sub_category from being saved:"
      %ul
        - sub_category.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :name
    = f.text_field :name, id: :sub_category_name
  .row
    = f.label :category_id
    = f.collection_select :category_id, Category.all, :id, :name, id: :sub_category_category_id
  - if sub_category.persisted?
    .row
      = f.label :created_at
      .input-group
        = f.datetime_select :created_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :sub_category_created_at, class: 'input-group-field small-2', disabled: true
    .row
      = f.label :updated_at
      .input-group
        = f.datetime_select :updated_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :sub_category_updated_at, class: 'input-group-field small-2', disabled: true
  .row
    = f.submit sub_category.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', sub_categories_path, class: 'button warning'
