%h1
  Sub Categories
  = add_new_button('Add New Sub Category', new_sub_category_path)

%table.striped.hover.table-striped.stack
  %thead
    %tr
      %th Id
      %th Name
      %th Category
      %th Created at
      %th Updated at
      %th Actions

  %tbody
    - if @sub_categories.present?
      - @sub_categories.each do |sub_category|
        %tr
          %td= sub_category.id
          %td= sub_category.name
          %td= sub_category.category.name
          %td= sub_category.created_at
          %td= sub_category.updated_at
          %td= render 'shared/table_row_action_buttons', object: sub_category
    - else
      %tr
        %td.text-center{colspan: 6}= 'No records found'
#pagy= pagy_foundation_combo_nav_js(@pagy).html_safe