.row
  %strong Id:
  = @sub_category.id
.row
  %strong Name:
  = @sub_category.name
.row
  %strong Category:
  = @sub_category.category.name
.row
  %strong Created at:
  = @sub_category.created_at
.row
  %strong Updated at:
  = @sub_category.updated_at
.row
  = link_to_edit(@sub_category)
  = close_reveal_button
