%h1
  Payments
  = render 'shared/family_switch'
  = add_new_button('Add New Payment', new_payment_path)

%table.striped.hover.table-striped.stack
  %thead
    %tr
      - if current_user.admin?
        %th Id
      - if family_view?
        %th User
      %th Transaction
      %th Amount
      %th Account
      %th Payment mode
      - if current_user.admin?
        %th Created at
        %th Updated at
      %th Actions

  %tbody
    - if @payments.present?
      - @payments.each do |payment|
        %tr
          - if current_user.admin?
            %td= payment.id
          - if family_view?
            %td= payment.user.name
          %td= payment.transactable.description
          %td{class: payment.credit? ? 'text-success' : 'text-alert'}= "#{payment.sign}#{payment.amount}"
          %td= payment.account.name
          %td= payment.payment_mode
          - if current_user.admin?
            %td= payment.created_at
            %td= payment.updated_at
          %td= render 'shared/table_row_action_buttons', object: payment
    - else
      %tr
        %td.text-center{colspan: 9}= 'No records found'
#pagy= pagy_foundation_combo_nav_js(@pagy).html_safe