= form_with(model: occurrence, remote: true) do |f|
  - if occurrence.errors.any?
    #error_explanation
      %h2= "#{pluralize(occurrence.errors.count, "error")} prohibited this occurrence from being saved:"
      %ul
        - occurrence.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :recurrence_type
    = f.text_field :recurrence_type, id: :occurrence_recurrence_type
  .row
    = f.label :interval
    = f.number_field :interval, id: :occurrence_interval
  .row
    = f.label :days
    = f.number_field :days, id: :occurrence_days
  .row
    = f.label :weeks
    = f.number_field :weeks, id: :occurrence_weeks
  .row
    = f.label :months
    = f.number_field :months, id: :occurrence_months
  .row
    = f.label :starts_on
    .input-group
      = f.datetime_select :starts_on, {order: [:day, :month, :year], date_separator: ' / '}, id: :occurrence_starts_on, class: 'input-group-field small-2'
  .row
    = f.label :ends_on
    .input-group
      = f.datetime_select :ends_on, {order: [:day, :month, :year], date_separator: ' / '}, id: :occurrence_ends_on, class: 'input-group-field small-2'
  .row
    = f.label :count
    = f.number_field :count, id: :occurrence_count
  .row
    = f.label :recurrence_rule_id
    = f.collection_select :recurrence_rule_id, RecurrenceRule.all, :id, :name, id: :occurrence_recurrence_rule_id
  - if occurrence.persisted?
    .row
      = f.label :created_at
      .input-group
        = f.datetime_select :created_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :occurrence_created_at, class: 'input-group-field small-2', disabled: true
    .row
      = f.label :updated_at
      .input-group
        = f.datetime_select :updated_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :occurrence_updated_at, class: 'input-group-field small-2', disabled: true
  .row
    = f.submit occurrence.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', occurrences_path, class: 'button warning'
