= form_for @transfer do |f|
  - if @transfer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transfer.errors.count, "error")} prohibited this transfer from being saved:"
      %ul
        - @transfer.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
