= form_with(model: object, remote: true) do |f|
  - if object.errors.any?
    #error_explanation
      %p= "#{pluralize(object.errors.count, "error")} prohibited this transfer from being saved:"
      %ul
        - object.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :amount
    = f.amount_field :amount, id: :transfer_amount, currency: '&#8377;'
  .row
    = f.label :description
    = f.text_field :description, id: :transfer_description
  .row
    = f.label :source_account_id
    = f.collection_select :source_account_id, current_user.accounts, :id, :name, id: :transfer_source_account_id
  .row
    = f.label :destination_account_id
    = f.collection_select :destination_account_id, current_user.accounts, :id, :name, id: :transfer_destination_account_id
  = render 'shared/timestamps', f: f
  = render 'shared/reveal_footer', f: f
