%h1
  Transfers
  = render 'shared/family_switch'
  = add_new_button('Add New Transfer', new_transfer_path)

%table.striped.hover.table-striped.stack
  %thead
    %tr
      - if current_user.admin?
        %th Id
      - if family_view?
        %th User
      %th Amount
      %th Description
      %th Source account
      %th Destination account
      - if current_user.admin?
        %th Created at
        %th Updated at
      %th Actions

  %tbody
    - if @transfers.present?
      - @transfers.each do |transfer|
        %tr
          - if current_user.admin?
            %td= transfer.id
          - if family_view?
            %td= transfer.user.name
          %td= transfer.amount
          %td= transfer.description
          %td= transfer.source_account.name
          %td= transfer.destination_account.name
          - if current_user.admin?
            %td= transfer.created_at
            %td= transfer.updated_at
          %td= render 'shared/table_row_action_buttons', object: transfer
    - else
      %tr
        %td.text-center{colspan: 9}= 'No records found'
#pagy= pagy_foundation_combo_nav_js(@pagy).html_safe