= form_with(model: object, remote: true) do |f|
  - if object.errors.any?
    #error_explanation
      %p= "#{pluralize(object.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - object.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :name
    = f.text_field :name, id: :category_name
  = render 'shared/timestamps', f: f
  .row
    = f.submit object.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', categories_path, class: 'button warning'
