%h1 Categories
%span= link_to 'Add New Category', 'javascript:void(0)', class: 'button primary float-right', data: {open: 'ajax-reveal', url: new_category_path}

%table.striped.hover.table-striped.stack
  %thead
    %tr
      %th Id
      %th Name
      %th Created at
      %th Updated at
      %th Actions

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.id
        %td= category.name
        %td= category.created_at
        %td= category.updated_at
        %td
          .button-group
            = link_to 'Show', 'javascript:void(0)', class: 'button success', data: {open: 'ajax-reveal', url: category_path(category)}
            = link_to 'Edit', 'javascript:void(0)', class: 'button warning', data: {open: 'ajax-reveal', url: edit_category_path(category)}
            = link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure you want to delete this Category?' }, class: 'button alert'
