%h1
  Categories
  = add_new_button('Add New Category', new_category_path)

%table.striped.hover.table-striped.stack
  %thead
    %tr
      %th Id
      %th Name
      %th Created at
      %th Updated at
      %th Actions

  %tbody
    - if @categories.present?
      - @categories.each do |category|
        %tr
          %td= category.id
          %td= category.name
          %td= category.created_at
          %td= category.updated_at
          %td= render 'shared/table_row_action_buttons', object: category
    - else
      %tr
        %td.text-center{colspan: 5}= 'No records found'
#pagy= pagy_foundation_combo_nav_js(@pagy).html_safe