.row
  %strong Id:
  = @category.id
.row
  %strong Name:
  = @category.name
.row
  %strong Created at:
  = @category.created_at
.row
  %strong Updated at:
  = @category.updated_at
.row
  = link_to_edit(@category)
  = close_reveal_button
