= form_with(model: transaction, remote: true) do |f|
  - if transaction.errors.any?
    #error_explanation
      %p= "#{pluralize(transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - transaction.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :amount
    = f.amount_field :amount, id: :transaction_amount, currency: '&#8377;'
  .row
    = f.label :description
    = f.text_field :description, id: :transaction_description
  .row
    = f.label :transaction_purpose_id
    = f.collection_select :transaction_purpose_id, current_user.transaction_purposes, :id, :name, id: :transaction_transaction_purpose_id
  .row
    = f.label :transfer_id
    = f.collection_select :transfer_id, current_user.transfers, :id, :name, id: :transaction_transfer_id
  = render 'shared/timestamps', f: f
  = render 'shared/reveal_footer', f: f
