= form_with(model: transaction, remote: true) do |f|
  - if transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - transaction.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :amount
    = f.amount_field :amount, id: :transaction_amount, currency: '&#8377;'
  .row
    = f.label :description
    = f.text_field :description, id: :transaction_description
  .row
    = f.label :transaction_purpose_id
    = f.collection_select :transaction_purpose_id, TransactionPurpose.all, :id, :name, id: :transaction_transaction_purpose_id
  .row
    = f.label :transfer_id
    = f.collection_select :transfer_id, Transfer.all, :id, :name, id: :transaction_transfer_id
  - if transaction.persisted?
    .row
      = f.label :created_at
      .input-group
        = f.datetime_select :created_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :transaction_created_at, class: 'input-group-field small-2', disabled: true
    .row
      = f.label :updated_at
      .input-group
        = f.datetime_select :updated_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :transaction_updated_at, class: 'input-group-field small-2', disabled: true
  .row
    = f.submit transaction.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', transactions_path, class: 'button warning'
