%h1
  Transactions
  = render 'shared/family_switch'
  = link_to 'Add New Transaction', 'javascript:void(0)', class: 'button primary float-right', data: {open: 'ajax-reveal', url: new_transaction_path}

%table.striped.hover.table-striped.stack
  %thead
    %tr
      - if current_user.admin?
        %th Id
        %th User
      %th Amount
      %th Description
      %th Transaction purpose
      - if current_user.admin?
        %th Created at
        %th Updated at
      %th Actions

  %tbody
    - @transactions.each do |transaction|
      %tr
        - if current_user.admin?
          %td= transaction.id
          %td= transaction.user.name
        %td= transaction.amount
        %td= transaction.description
        %td= transaction.transaction_purpose.name
        - if current_user.admin?
          %td= transaction.created_at
          %td= transaction.updated_at
        %td
          .button-group
            = link_to 'Show', 'javascript:void(0)', class: 'button success', data: {open: 'ajax-reveal', url: transaction_path(transaction)}
            = link_to 'Edit', 'javascript:void(0)', class: 'button warning', data: {open: 'ajax-reveal', url: edit_transaction_path(transaction)}
            = link_to 'Delete', transaction, method: :delete, data: { confirm: 'Are you sure you want to delete this Transaction?' }, class: 'button alert'
