%h1
  Transactions
  = render 'shared/family_switch'
  = add_new_button('Add New Transaction', new_transaction_path)

%table.striped.hover.table-striped.stack
  %thead
    %tr
      - if current_user.admin?
        %th Id
      - if family_view?
        %th User
      %th Transaction purpose
      %th Description
      %th Amount
      - if current_user.admin?
        %th Created at
        %th Updated at
      %th Actions

  %tbody
    - if @transactions.present?
      - @transactions.each do |transaction|
        %tr
          - if current_user.admin?
            %td= transaction.id
          - if family_view?
            %td= transaction.user.name
          %td= transaction.transaction_purpose.name
          %td= transaction.description
          %td{ class: transaction.credit? ? 'text-success' : 'text-alert' }
            = transaction.sign
            = transaction.amount
          - if current_user.admin?
            %td= transaction.created_at
            %td= transaction.updated_at
          %td= render 'shared/table_row_action_buttons', object: transaction
    - else
      %tr
        %td.text-center{colspan: 8}= 'No records found'
