

%p
  %strong Id:
  = @transaction.id


%p
  %strong Amount:
  = @transaction.amount


%p
  %strong Description:
  = @transaction.description


%p
  %strong Transaction purpose:
  = @transaction.transaction_purpose_id


%p
  %strong Transfer:
  = @transaction.transfer_id


%p
  %strong Created at:
  = @transaction.created_at


%p
  %strong Updated at:
  = @transaction.updated_at


.row
  = link_to 'Edit', edit_transaction_path(@transaction), class: 'button primary'
  = link_to 'Back', transactions_path, class: 'button warning'
