#offCanvasRight.off-canvas.position-right{"data-off-canvas" => "", 'data-transition': 'overlap'}
  - if user_signed_in?
    .card
      .card-image
        = image_tag Rails.env.development? || current_user.image_url.blank? ? 'rupee' : current_user.image_url
      .card-section
        = current_user.name
      .card-section
        = current_user.email
      .card-section
        = current_user.gender
      .card-section
        = current_user.locale
      .card-section
        = current_user.currency
  %ul.menu.vertical
    = render 'devise/menu/registration_items'
    = render 'devise/menu/login_items'