.top-bar#responsive-menu
  .top-bar-left
    %ul.menu
      %li
        = link_to root_path, class: 'text-default font-bold' do
          = image_tag 'logo.png', class: 'logo'
          = 'MoneyBee'
  .top-bar-right
    - if user_signed_in?
      = render 'layouts/menus', vertical: false
    - else
      = # no menus for now