!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : 'ExpenseTracker'

    = csrf_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .off-canvas-wrapper
      = render 'layouts/titlebar'
      = render 'layouts/left_sidebar'
      = render 'layouts/right_sidebar'
      .off-canvas-content{"data-off-canvas-content" => ""}
        = # TODO : Create class and styling for .container and use instead of .row
        .row
          - flash.each do |key, message|
            .callout{class: 'success', 'data-closable': 'slide-out-right'}
              = message
              %button.close-button{'aria-label': "Dismiss alert", type: :button, data: {close: true}}
                %span{'aria-hidden': true} &times;
          = yield
          #ajax-reveal.reveal{'data-reveal': true, 'aria-labelledby':"modalTitle", 'aria-hidden': true, role: "dialog"}
            .reveal-content
            %button.close-button{'aria-label': "Close modal", type: :button, data: {close: true}}
              %span{'aria-hidden': true} &times;
