!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : 'ExpenseTracker'

    = csrf_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .off-canvas-wrapper
      = render 'layouts/left_sidebar'
      = render 'layouts/right_sidebar'
      .off-canvas-content{"data-off-canvas-content" => ""}
        = render 'layouts/titlebar'
        = # TODO : Create class and styling for .container
        .row
          = yield
