= form_with(model: account, remote: true) do |f|
  - if account.errors.any?
    #error_explanation
      %h2= "#{pluralize(account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - account.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :name
    = f.text_field :name, id: :account_name
  .row
    = f.label :description
    = f.text_field :description, id: :account_description
  .row
    = f.label :details
    = f.text_field :details, id: :account_details
  .row
    = f.label :account_type
    = f.select :account_type, Account::ACCOUNT_TYPES.map { |code, name| [name, code] }, selected: account.account_type_code, id: :account_account_type
  - if account.persisted?
    .row
      = f.label :created_at
      .input-group
        = f.datetime_select :created_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :account_created_at, class: 'input-group-field small-2'
    .row
      = f.label :updated_at
      .input-group
        = f.datetime_select :updated_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :account_updated_at, class: 'input-group-field small-2'
  .row
    = f.submit account.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', accounts_path, class: 'button warning'
