= form_with(model: object, remote: true) do |f|
  - if object.errors.any?
    #error_explanation
      %p= "#{pluralize(object.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - object.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :name
    = f.text_field :name, id: :account_name
  .row
    = f.label :description
    = f.text_field :description, id: :account_description
  .row
    = f.label :details
    = f.text_area :details, id: :account_details
  .row
    = f.label :account_type
    = f.select :account_type, Account::ACCOUNT_TYPES.map { |code, name| [name, code.to_s] }, id: :account_account_type
  .row
    %fieldset.fieldset
      %legend Allowed Payment Modes:
      = f.collection_check_boxes :payment_modes, Payment::PAYMENT_MODES, :first, :last, { checked: f.object.payment_modes } do |c|
        %div{style: 'display: block'}
          = c.label { c.check_box  + c.text }
  = render 'shared/timestamps', f: f
  .row
    = f.submit object.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', accounts_path, class: 'button warning'
