%h1
  Accounts
  = render 'shared/family_switch'
  = add_new_button('Add New Account', new_account_path)

%table.striped.hover.table-striped.stack
  %thead
    %tr
      - if current_user.admin?
        %th Id
      - if family_view?
        %th User
      %th Name
      %th Description
      %th Details
      %th Account type
      %th Allowed payment modes
      - if current_user.admin?
        %th Created at
        %th Updated at
      %th Actions

  %tbody
    - @accounts.each do |account|
      %tr
        - if current_user.admin?
          %td= account.id
        - if family_view?
          %td= account.user.name
        %td= account.name
        %td= account.description
        %td= account.details
        %td= account.account_type_name
        %td= account.payment_modes.join(', ')
        - if current_user.admin?
          %td= account.created_at
          %td= account.updated_at
        %td
          .button-group
            = link_to icon_tag('visibility'), 'javascript:void(0)', class: 'button clear success', data: {open: 'ajax-reveal', url: accounts_path(account)}
            = link_to icon_tag('create'), 'javascript:void(0)', class: 'button clear warning', data: {open: 'ajax-reveal', url: edit_account_path(account)}
            - unless account.default?
              = link_to icon_tag('delete'), account, method: :delete, data: { confirm: "Are you sure you want to delete this Account?" }, class: 'button clear alert'