.row
  %strong Id:
  = @account.id
.row
  %strong Name:
  = @account.name
.row
  %strong Description:
  = @account.description
.row
  %strong Details:
  = @account.details
.row
  %strong Account type:
  = @account.account_type_name
.row
  %strong Allowed payment modes:
  = @account.payment_modes.map { |pm| Payment::PAYMENT_MODES[pm.to_sym] }.join(', ')
.row
  %strong Created at:
  = @account.created_at
.row
  %strong Updated at:
  = @account.updated_at
.row
  = link_to_edit(@account)
  = close_reveal_button
